.texto {
	font-family:Tahoma,verdana,arial,helvetica;
	font-size: 11px;
	text-decoration:none;
	line-height: 11px;
}
.textolink {
	font-family:Tahoma,verdana,arial,helvetica;
	font-size: 11px;
	text-decoration:underline;
	color:000000;
	line-height: 11px;
}
.texto1 {
	font-family:Tahoma,verdana,arial,helvetica;
	font-size: 11px;
	text-decoration:none;
	line-height: 14px;
}
.textoencnet {
	font-family:Tahoma,verdana,arial,helvetica;
	font-size: 11px;
	text-decoration:none;
	line-height: 13px;
}
.textoenc {
	font-family:Tahoma,verdana,arial,helvetica;
	font-size: 10px;
	text-decoration:none;
	line-height: 14px;
}
.notatitulo {
	font-family:Tahoma,verdana,arial,helvetica;
	font-size: 16px;
	text-decoration:none;
	font-weight: bold;
	color: 475D02;
}
.notafecha {
	font-family:Tahoma,verdana,arial,helvetica;
	font-size: 10px;
	text-decoration:none;
	font-weight: bold;
	color: 759020;
	line-height: 6px;
}
.notacopete {
	font-family:Tahoma,verdana,arial,helvetica;
	font-size: 12px;
	text-decoration:none;
	font-weight: bold;
	color: 759020;
	line-height: normal;
}
.notacuerpo {
	font-family:Tahoma,verdana,arial,helvetica;
	font-size: 12px;
	text-decoration:none;

	color: 303F01;
}
.linkverde {
	font-family:Tahoma,verdana,arial,helvetica;
	font-size: 10px;
	text-decoration:none;
	color: 3E5800;
}
.linkblanco {
	font-family:Tahoma,verdana,arial,helvetica;
	font-size: 11px;
	text-decoration:none;
	color: FFFFFF;
}
.textochico {
	font-family:Tahoma,verdana,arial,helvetica;
	font-size: 11px;
	text-decoration:none;
	line-height: 11px;
	color:ffffff;
}

.link	{
	color:000000;
	text-decoration:none;
}
.link:hover	{
	text-decoration:underline;
}
.link:visited	{
	color:808080;
}
.mapa	{
	font-family:Tahoma,verdana,arial,helvetica;
	font-size: 11px;
	text-decoration:none;
	line-height: 11px;
	color: #095C78;
}