*{
    box-sizing: border-box;
}
#contenedor-cont{
    padding: 0;
    margin: 0;
    padding-bottom: 25px;
    display: table;
    width: 100%;
}
.cinc{
    margin: 0.5%;
    width: 49%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#formulario-contacto{
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sector{
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1.3rem;
    transition: 0.2s;
    width: 100%;
    margin-bottom: 5px;
}
textarea{
    max-height: 150px;
    resize: none;
}
.np{
    display: table;
    width: 49%;
}
.c{
    display: table;
    width: 100%;
}
.sector:focus{
    box-shadow: 0 0 5px 2px blue;
}
#urgencia-boton {
    width: 100%;
    outline: none;
    background-color: rgba(0,0,125,0.3);
    user-select:none;
    cursor: pointer;
    transition: 0.5s;
}

#urgencia{
    display: none;
}
#urgencia:checked ~ #urgencia-boton{
    background-color: green;
}
#boton{
    font-size: 2rem;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
    border: none;
    margin-top:10px;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}
#boton:focus{
    transform: scale(1.05);
}
.vacio, .inex{
    box-shadow: 0 0 1px 2px red;
    background-color: red;
}
.pvacio, .pinex{
    color: red;
}
.corto , .largo{
    box-shadow: 0 0 1px 2px orange;
    background-color: orange;
}
.pcorto, .plargo {
    color: orange;
}
.correct{
   box-shadow: 0 0 1px 2px green;
   background-color: lightgreen;
}
p.pstatus{
    margin: 0.2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

