*{
    box-sizing: border-box;
}
#contenedor-cont{
    padding: 0;
    margin: 0;
    padding-bottom: 25px;
    display: table;
    width: 100%;
}
.cinc{
    margin: 0.5%;
    width: 49%;
    float: left;
    display: table;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contladcontblock{
    padding: 25px;
    width: 100%;
    display: table;
}
div.contladcont {
    float: none;
    width: 100%;
    height: 33.3%;
    background-color: aliceblue;
    border-radius: 50px;
    margin-bottom: 10px;
    display: table;
    padding: 15px 0;
}
div.contmayor{
    width: 74%;
    float: left;
    text-align: left;
    display: table;
    margin: 6px;
}
div.contmayor p, div.contmayor h1{
    margin: 0;
    margin-left: 8%;;
    font-weight: bold;
}
div.contmayor p{
    font-size:1.25rem;
    margin-top: 5px;
    color: grey;
}
div.contmayor h1{
    text-transform: uppercase;
    font-size:1.39rem;
}
div.simbolocont{
    float: right;
    width: 20%;
    margin: auto;
    font-size: 2rem;
    color: #fff;
    padding: 10px;
}
div.simbolocont div.simbred{
    display: table;
    margin: auto;
    padding: 8px;
    background-color: #000;
    border-radius: 50%;
}
div.simbolocont div.simbred div.simb{
    display: table;
    width: 2.35rem;
    margin: auto;
}

#formulario-contacto{
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sector{
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1.3rem;
    transition: 0.2s;
    width: 100%;
    margin-bottom: 5px;
    color: #000;
}
textarea{
    max-height: 150px;
    resize: none;
}
.np{
    display: table;
    width: 49%;
    margin-bottom: 2px; 
}
.c{
    display: table;
    width: 100%;
    margin-bottom: 2px;
}
.sector:focus{
    box-shadow: 0 0 5px 2px blue;
}
#urgencia-boton {
    width: 100%;
    outline: none;
    background-color: rgba(0,0,125,0.3);
    user-select:none;
    cursor: pointer;
    transition: 0.5s;
}

#urgencia{
    display: none;
}
#urgencia:checked ~ #urgencia-boton{
    background-color: green;
}
#boton{
    font-size: 2rem;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
    border: none;
    margin-top:10px;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}
#boton:focus{
    transform: scale(1.05);
}
.vacio, .inex{
    box-shadow: 0 0 1px 2px hsl(0, 100%, 50%);
    background-color: hsl(0, 100%, 75%);
    color: #fff;
}
.pvacio, .pinex{
    color: hsl(0, 100%, 50%);
}
.corto , .largo{
    box-shadow: 0 0 1px 2px hsl(28, 100%, 50%);
    background-color: hsl(28, 100%, 75%);
    color: #fff;
}
.pcorto, .plargo {
    color: hsl(28, 100%, 50%);
}
.correct{
   box-shadow: 0 0 1px 2px hsl(118, 100%, 40%);
   background-color: hsl(118, 100%, 75%);
   color: #000;
}
p.pstatus{
    margin: 0.2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

