.elementoslider{
	float: left;
	margin: 0 auto;
	padding: 0;
	width: 50%;
}
.elementoslider-2{
	float: left;
	margin: 0 auto;
	padding: 0;
	width: 50%;
}
.main {
width:90%;
max-width:1000px;
margin:20px auto;
}
 
.slides {
width:10%;
}
a{
width:90%;
max-width:1000px;
margin:20px auto;
}
.slides a img {
width:100%;
}
#cacona{
	background-image: url(images/img-2.jpg);
	background-size: auto;
	background-size: cover; 
}