*{
    box-sizing: border-box;
}
form{
    background-color:red;
}
.cinc{
    margin: 0;
    margin-top: 10px;
    width: 50%;
    float: left;
    display: table;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:0 10px;
}
.contentas{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cinc h1{
	text-align: left;
    font-size: 2rem;
    margin: 0;
    margin: 25px 0 5 10px;
    text-transform: uppercase;
}
div.sectiontas{
    display: table;
    margin: 0 1%;
    font-size: 1.3rem;
    width: 98%;
    padding-bottom: 2px;
    /*float: left;*/
}
div.contentas div:last-child {
    padding-bottom: 0px;
}
div.sectiontas input, select , label, textarea {
    padding:15px 10px;
    font-size: 1.15rem;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: 0.2s;
    width: 100%;
    margin-bottom: 5px;
    color: #000;
}
select{
    width: 49%;
    margin-right: 0.5%;
    float: left;
}
#venalq{
    width: 49%;
    margin-left: 0.5%;
    float: left;
    display: table;
}
#venalq input {
    display: none;
    height: 0px;
}
#venalq label{
	width: 49%;
	float: left;
	background-color: red;
	cursor: pointer;
	transition: 0.5s;
}
#venalq label:last-child{
	float: right;
}
#ventar:checked + label, 
#alquilerr:checked + label{
	background-color: green;
}
#zona ,#calle {
	width: 30.625%;
	margin-right: 0.5%;
	float: left;
}
#numero{
	width: 15.375%;
	/*margin-left: 0.5%;*/
	/*display: none;*/
}
#pisolado{
	display: table;
	width: 21.375%;
	float: right;
}
#piso, #lado{
	width: 49%;
}
#lado{
	float: right;
}
#aptitud input{
	display: none;
}
#aptitud label{
	width: 49%;
	float: left;
	background-color: red;
	cursor: pointer;
	transition: 0.5s;
}
#aptitud label:last-child{
	float: right;
}
#apt:checked + label ,
#napt:checked + label{
	background-color: blue;
}
textarea{
	max-width: 100%;
	height: 6.7rem;
}