.c-slider-p {
	margin: auto;
 	margin-top: 15px;
	width: 85%;
	max-width: 100%;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 20px 2px #000;
}
.slider-p{
	display: -o-flex;
	display: -ms-flex;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	width: 500%;
}
section{
	width:100%;
}
.slider-p a img{
	display: block;
	width: 100%;
	height: 100%
}
h1{
  background-color: #fff;
  color: #000;
  line-height: 40px;
  font-size: 35px;
  text-align: center;
  cursor: pointer;
  margin: 0;
}